<app-header-pagina></app-header-pagina>
<img src="../../../assets/images/Banner3.png" alt="" width="1520">
<br>
<br>

<div class="container ">




  <!--AQUI EMPEZA EL FORMULARIO-->

  <form  [formGroup]="registerForm">

    <div class="content text-center">

      <h2 align="center">Subscripción</h2>

      <div class="form-group">
      
        <input type="text" class="form-control col-6" placeholder="USUARIO" formControlName="usuario" />
      </div>
      <div class="form-group">
      
        <input type="text" class="form-control col-6" placeholder="TELEFONO" formControlName="telefono" />
      </div>


      <div class="form-group">

        <input type="email" class="form-control col-6" id="exampleInputEmail1" placeholder="EMAIL"
          formControlName="email" />
      </div>

      <div class="form-group">

        <input type="password" class="form-control col-6" id="exampleInputPassword1" placeholder="PASSWORD"
          formControlName="password" />
      </div>

      <div class="form-group">
        <input type="number" class="form-control col-6" id="exampleInputPassword1"
          placeholder="CLAVE DE VERIFICACIÓN ENVIADA AL CORREO" formControlName="clave" />
      </div>

      <div class="form-group">

        <h2 align="center">Como nos encontraste</h2>
        <div class=" row m-0 justify-content-center align-items-center vh-100">
          <div class="form-group">

            <div class="input-group ">
              <ul class="icheck-list" class="list">
                <li>
                  <input type="checkbox" class="check form-control" id="minimal-checkbox-1" formControlName="facebook">
                  <label for="minimal-checkbox-1">Facebook</label>
                </li>
                <li>
                  <input type="checkbox" class="check form-control" id="minimal-checkbox-2" formControlName="twitter">
                  <label for="minimal-checkbox-2">Twitter</label>
                </li>
                <li>
                  <input type="checkbox" class="check form-control" id="minimal-checkbox-3" formControlName="instagram">
                  <label for="minimal-checkbox-3">Instagram</label>
                </li>
                <li>
                  <input type="checkbox" class="check form-control" id="minimal-checkbox-4" formControlName="linkedin">
                  <label for="minimal-checkbox-4">LinkedIn</label>
                </li>


              </ul>

            </div>
            <button class="btn btn-primary mt-5" (click)="RevisandoEmail()">ENVIAR CLAVE A EMAIL</button>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary mt-5" (click)="verificando()">REGISTRAR</button>
          </div>

        </div>


      </div>

    </div>
  </form>


  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#56c2c6" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: #56c2c6">Jobandcare...</p>
  </ngx-spinner>
</div>

<app-footer></app-footer>