p {
    font-family: Lato;
  }

  .marca-de-agua {
    background: rgba(247, 243, 243, 0.034) url(../../../assets/images/jobcare.png);
    width: 500px;
    height: 341px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.marca-de-agua img{
    padding:0;
    width:100%;
    height:100%;
    margin:0;
    filter:alpha(opacity=90);
    opacity:.90;
}

agm-map {
  height: 300px;
}


.bgm{ 
 
  font-size: 100%;

  text-align:center;

}

.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 300;
  font-size: 20px;
  color: #fafafa;
  background-color: #1acec5;
  border-radius: 50px;
  border: 2px solid #88ccc9;
  width:380px;
  height:80px;
}
