<app-header-pagina></app-header-pagina>

<img src="../../../assets/images/categoria/hogares.png" alt="" class="img-responsive">
<br>
<br>

<div class="container ">

  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-4">
        <button class="step-trigger">
          <span class="bs-stepper-circle">4</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-5">
        <button class="step-trigger">
          <span class="bs-stepper-circle">5</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>

    </div>


    <!--AQUI EMPEZA EL FORMULARIO-->

    <div class="bs-stepper-content">
      <form [formGroup]="registerForm">
        <div id="test-l-1" class="content">
          <div class="form-group">
            <label for="exampleInputEmail1">CIUDAD/TODOS</label>
            <tr>
              <td scope="col">Provincia &nbsp;</td>
              <td scope="col">
                <select name="Provincia" class="browser-default custom-select form-control" formControlName="provincia"
                  (change)="selectProvincia($event.target.value)">
                  <option *ngFor="let prov of ciuadadesOpcion" value="{{prov.provincia}}">
                    {{prov.provincia}}</option>
                </select>

              </td>

            </tr>
            <br>
            <tr>
              <td scope="col">Ciudad &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
              <td scope="col">
                <select name="Ciudad" class="browser-default custom-select form-control" formControlName="ciudad">
                  <option *ngFor="let canton of ciudad.cantones" value="{{canton}}">
                    {{canton}}
                  </option>
                </select>


              </td>

            </tr>
            <br>
            <br>
            <div class="container">



              <div class="form-group">
                <label>Mi Dirección</label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                  formControlName="direccion" placeholder="Buscar mi ubicación" autocorrect="off" autocapitalize="off"
                  spellcheck="off" type="text" #search>
                  <div
                  *ngIf="registerForm.get('direccion').errors && registerForm.get('direccion').dirty">
                  <p class="text-danger center"
                      *ngIf="registerForm.get('direccion').hasError('required')">
                      <span size="2">Dirección es requerida</span>
                  </p>
              </div>
              </div>

              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
              <br>
              <h5>Dirección: {{address}}</h5>
              <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div>
            </div>
          </div>




          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>
        <div id="test-l-3" class="content">
          <div class="form-group">
            <h2 align="center" (click)="desactivar()">CUANDO LO NECESITAS</h2>
            <div>
              <div class="row m-0 justify-content-center align-items-center vh-100">
                <!-- Column -->

                <div>
                  <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado "
                    (click)="activar()"><i></i>Hoy</button>
                  <div class="notify"> <span class=""></span></div>

                  <div *ngIf="mostarDatos">
                    <br>
                    <input type="datetime-local" id="meeting-time" name="meeting-time" class="form-control"
                      formControlName="fecha">
                      <div
                      *ngIf="registerForm.get('fecha').errors && registerForm.get('fecha').dirty">
                      <p class="text-danger center"
                          *ngIf="registerForm.get('fecha').hasError('required')">
                          <span size="2">Fecha es requerida</span>
                      </p>
                   </div>
                  </div>

                </div>
                &nbsp;&nbsp;
                <div>
                  <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado "
                    (click)="activar2()"><i></i>Esta semanna</button>
                  <div class="notify"> <span class=""></span></div>

                  <div *ngIf="mostarDatossemana">
                    <br>
                    <input type="week" name="semana" class="form-control" formControlName="fecha">
                    <div
                    *ngIf="registerForm.get('fecha').errors && registerForm.get('fecha').dirty">
                    <p class="text-danger center"
                        *ngIf="registerForm.get('fecha').hasError('required')">
                        <span size="2">Fecha es requerida</span>
                    </p>
                 </div>
                  </div>

                </div>
                &nbsp;&nbsp;
                <!-- Column -->
                <div>
                  <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado "
                    (click)="activar3()"><i></i>Este mes</button>
                  <div class="notify"> <span class=""></span></div>

                  <div *ngIf="mostarDatosmes">
                    <br>
                    <input type="month" name="mes" class="form-control" formControlName="fecha">
                    <div
                    *ngIf="registerForm.get('fecha').errors && registerForm.get('fecha').dirty">
                    <p class="text-danger center"
                        *ngIf="registerForm.get('fecha').hasError('required')">
                        <span size="2">Fecha es requerida</span>
                    </p>
                 </div>
                  </div>

                </div>
                &nbsp;&nbsp;
                <div>
                  <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado "
                    (click)="activar4()"><i></i>Fijo</button>
                  <div class="notify"> <span class=""></span></div>

                  <div *ngIf="mostarDatosfijo">
                    <br>
                    <input type="date" name="Fecha de inicio" class="form-control" formControlName="fecha">
                    <div
                    *ngIf="registerForm.get('fecha').errors && registerForm.get('fecha').dirty">
                    <p class="text-danger center"
                        *ngIf="registerForm.get('fecha').hasError('required')">
                        <span size="2">Fecha es requerida</span>
                    </p>
                 </div>
                  </div>

                </div>




              </div>

            </div>
          </div>
          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>
        <div id="test-l-4" class="content">
          <h2 align="center">¿Cuanta experiencia tienes?</h2>
          <div class="form-group">
            <div>
              <div class="row m-0 justify-content-center align-items-center vh-100">

                <button (click)="voteUp(-1)" class="btn btn-danger" min="1">
                  -
                </button> &nbsp;&nbsp;&nbsp;&nbsp; <h3 class="display-4">{{votes}}</h3> &nbsp;&nbsp;&nbsp;&nbsp; <button
                  (click)="voteUp(+1)" class="btn btn-primary">
                  +
                </button>

              </div>

              <div class="row m-0 justify-content-center align-items-center vh-100 ">
                <div class="form-group col-6">

                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" (click)="voteUp(-1)">-</button>
                    </span>

                    <input [(ngModel)]="votes" type="number" class="form-control " placeholder="Años de experiencia"
                      formControlName="experiencia" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" (click)="voteUp(+1)">+</button>
                    </span>
                  </div>
                  <div
                  *ngIf="registerForm.get('experiencia').errors && registerForm.get('experiencia').dirty">
                  <p class="text-danger center"
                      *ngIf="registerForm.get('experiencia').hasError('required')">
                      <span size="2">Experiencia es requerida</span>
                  </p>
             </div>
                </div>
              </div>



            </div>
            <!--div class="form-group" >
              <label >Experiencia:&nbsp;&nbsp;</label> 
            <input type="number" class="form-control col-6"  placeholder="Ingrese un número" formControlName="experiencia" />
            </!--div-->

          </div>
          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>
        <div id="test-l-2" class="content">
          <div class="form-group">
            <h2 align="center">Trabajos del hogar</h2>
            <div class="form-group row m-0 justify-content-center align-items-center vh-100">

              <div class="input-group ">
                <ul class="icheck-list" class="list">
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-1" formControlName="albanil">
                    <label for="minimal-checkbox-1">Albañil</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-2"
                      formControlName="electricista">
                    <label for="minimal-checkbox-2">Electricista</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-3" formControlName="plomero">
                    <label for="minimal-checkbox-3">Plomero</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-4"
                      formControlName="carpintero">
                    <label for="minimal-checkbox-4">Carpintero</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-5"
                      formControlName="cerrajero">
                    <label for="minimal-checkbox-5">Cerrajero</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-6"
                      formControlName="jardinero">
                    <label for="minimal-checkbox-6">Jardinero</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-7"
                      formControlName="servicioTecnico">
                    <label for="minimal-checkbox-7">Servicio Tecnico</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-8" formControlName="otros">
                    <label for="minimal-checkbox-8">Otros</label>
                  </li>


                </ul>

              </div>
            </div>
          </div>
          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>




        <div id="test-l-5" class="content text-center">

          <h2 align="center">SUSCRIPCIÓN</h2>
          <div class="form-group">

            <input type="text" class="form-control col-6" placeholder="USUARIO" formControlName="usuario" />
            <div *ngIf="registerForm.get('usuario').errors && registerForm.get('usuario').dirty">
              <p class="text-danger center" *ngIf="registerForm.get('usuario').hasError('required')">
                <span size="2">Usuario es requerido</span>
              </p>
              <p class="text-danger center" *ngIf="registerForm.get('usuario').hasError('minlength')">
                <span size="2">Minimo de 3 Caracteres</span>
              </p>
              <p class="text-danger center" *ngIf="registerForm.get('usuario').hasError('maxlength')">
                <span size="2">Maximo de 30 Caracteres</span>
              </p>

            </div>
          </div>
          <div class="form-group">

            <input type="text" class="form-control col-6" placeholder="TELEFONO" formControlName="telefono" />
            <div *ngIf="registerForm.get('telefono').errors && registerForm.get('telefono').dirty">
              <p class="text-danger center" *ngIf="registerForm.get('telefono').hasError('required')">
                  <span size="2">Telefono es requerido</span>
              </p>
              <p class="text-danger center" *ngIf="registerForm.get('telefono').hasError('minlength')">
                  <span size="2">Minimo de 10 Caracteres</span>
              </p>
              <p class="text-danger center" *ngIf="registerForm.get('telefono').hasError('maxlength')">
                  <span size="2">Maximo de 10 Caracteres</span>
              </p>

          </div>
          </div>
          <div class="form-group">

            <input type="email" class="form-control col-6" id="exampleInputEmail1" placeholder="EMAIL"
              formControlName="email" />
              <div *ngIf="registerForm.get('email').errors && registerForm.get('email').dirty">
                <p class="text-danger center" *ngIf="registerForm.get('email').hasError('required')">
                    <span size="2">Email es requerido</span>
                </p>
                <p class="text-danger center"
                    *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('pattern')">
                    <span size="2">Tiene que ser una dirección de correo electrónico válida.
                        Ejemplo :("mail@.com").
                    </span>
                </p>

            </div>
          </div>

          <div class="form-group">

            <input type="password" class="form-control col-6" id="exampleInputPassword1" placeholder="PASSWORD"
              formControlName="password" />
          </div>
          <div class="form-group">

            <input type="number" class="form-control col-6" id="exampleInputPassword1"
              placeholder="CLAVE DE VERIFICACIÓN ENVIADA AL CORREO" formControlName="clave" />
          </div>
          <button class="btn btn-primary mt-5" (click)="RevisandoEmail()">ENVIAR CLAVE A EMAIL</button>
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-primary mt-5" (click)="verificando()">REGISTRAR</button>
        </div>
      </form>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#56c2c6" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: #56c2c6">Jobandcare...</p>
  </ngx-spinner>
</div>


<app-footer></app-footer>