<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">




                <table class="table table-hover table-responsive btn-table ">
                    <thead>
                        <tr>
                       
                            <th>NOMBRE</th>
                            <th>CATEGORIA</th>
                            <th>CÉDULA</th>
                            <th>CIUDAD</th>
                            <th>DIRECCIÓN</th>
                            <th>TELÉFONO</th>
                            <th>VER HOJA DE VIDA</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            *ngFor="let form of  formularios | paginate: { itemsPerPage: 5, currentPage: totalRegistros }">
                          
                            <td> {{form.postulacion.nombre}} {{form.postulacion.apellido}}</td>
                             <td>
                                 {{form.postulacion.categorias}}
                             </td>
                             <td>
                                {{form.postulacion.cedula}}
                            </td>
                            <td>
                                {{form.postulacion.ciudad}}
                            </td>
                            <td>
                                {{form.postulacion.direccion}}
                            </td>
                            <td>
                                {{form.telefono}}
                            </td>

                            <td align="center" >
                      

                                <a type="button" class="btn btn-outline-primary"*ngIf="form.postulacion.urlPdf != null" href="{{form.postulacion.urlPdf}}"
                                style="width: 100px;height: 70;font-size: 50%;"   target="_blank"
                                                                  ><b>VER HOJA DE VIDA</b></a>
                                  <span *ngIf="form.postulacion.urlPdf == null">NO HAY HOJA DE VIDA</span>
                               </td>
                             
                        </tr>

                    </tbody>

                </table>





            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="totalRegistros = $event"></pagination-controls>
</div>
