<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class=" container p-3 " class="col-sm">
                    <h3 align="center" id="color">MIS POSTULACIONES</h3>
                </div>


                <table class="table table-hover table-responsive btn-table  table-bordered tabla">
                    <thead>
                        <tr>

                            <th scope="col" COLSPAN=1 style="background: azure">TÍTULO EMPLEO</th>

                            <th scope="col" COLSPAN=1 style="background: azure">SALARIO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">CONTACTO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">CORREO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">CIUDAD</th>
                            <th scope="col" COLSPAN=1 style="background: azure">ACCIÓN</th>
                            <th scope="col" COLSPAN=1 style="background: azure"><i class="fa fa-trash-o"></i></th>


                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            *ngFor="let form of  formularios | paginate: { itemsPerPage: 5, currentPage: totalRegistros }">

                            <td> {{form.tituloEmpleo}} </td>

                            <td> {{form.salario|currency:'USD'}}</td>
                            <td> {{form.telefonoEmpleador}} </td>
                            <td> {{form.emailOfertante}} </td>
                            <td>{{form.ciudad}}</td>
                           <td>

                                <button type="button" class="btn btn-outline-primary" *ngIf="form.postulacion!= null"
                    style="width: 80px;height: 65;font-size: 60%;"
                    [routerLink]="['/dashboard/ofertaCompleta/',form.postulacion._id]" ><b>VER OFERTA</b></button>

                    <span *ngIf="form.postulacion == null"  >OFERTA NO DISPONIBLE</span>
                            </td>

                            <td>
                              <button (click)=" eliminar(form._id)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                             </td>

                        </tr>

                    </tbody>

                </table>





            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="totalRegistros = $event"></pagination-controls>
</div>



