<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class=" container p-3 " class="col-sm">
                    <h3 align="center" id="color">MIS POSTULACIONES</h3>
                </div>


                <table class="table table-hover table-responsive btn-table  table-bordered">
                    <thead>
                        <tr>
                       
                            <th scope="col" COLSPAN=1 style="background: azure">TÍTULO EMPLEO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">REMUNERACIÓN</th>
                            <th scope="col" COLSPAN=1 style="background: azure">SALARIO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">CONTACTO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">CORREO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">HORARIO</th>
                            <th scope="col" COLSPAN=1 style="background: azure">ACCIÓN</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            *ngFor="let form of  formularios | paginate: { itemsPerPage: 5, currentPage: totalRegistros }">
                          
                            <td> {{form.postulacion.tituloEmpleo}} </td>
                            <td>{{form.postulacion.remuneracion}}</td>
                            <td> ${{form.postulacion.valor}}</td>
                            <td> {{form.ofertante.telefono}} </td>
                            <td> {{form.ofertante.email}} </td>
                            <td>{{form.postulacion.horario}}</td>
                           <td>
                                <button type="button" class="btn btn-outline-primary"
                    style="width: 140px;height: 75;font-size: 70%;" 
                    [routerLink]="['/dashboard/ofertaCompleta/',form.postulacion._id]" ><b>VER OFERTA</b></button>
                            </td>
                        </tr>

                    </tbody>

                </table>





            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="totalRegistros = $event"></pagination-controls>
</div>



