<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/j-logoreco.png"  alt="homepage" class="dark-logo" >
      <img src="../../../assets/images/text-logo.png"  alt="homepage" class="dark-logo">
    </a>
  </nav>



<section >
    <br>
    <br>
  
    
    <h2 align="center">¡Hola! ¿Selecciona una de nuetras categorias para publicar?</h2>
<br>

<div class="row m-0 justify-content-center align-items-center vh-100" >
    
    <!-- Column -->
   
    <a class="nav-link waves-effect waves-dark " [routerLink]="['/nineraEmpleador']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/nineraEmpleador']" routerLinkActive="router-link-active" ></i>Niñera</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class=" btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Cuidado del adulto mayor</button>
          <div class="notify"> <span class=""></span></div>
      </a>
    <!-- Column -->
    <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Servicio Doméstico</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Cuidado de mascotas</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Spa</button>
          <div class="notify"> <span class=""></span></div>
      </a>

      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Cuidados capacidades Especiales</button>
          <div class="notify"> <span class=""></span></div>
      </a>
 
      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Tutorías escolares</button>
          <div class="notify"> <span class=""></span></div>
      </a>
 
      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Trabajos del hogar</button>
          <div class="notify"> <span class=""></span></div>
      </a>

      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Asistencia automotriz</button>
          <div class="notify"> <span class=""></span></div>
      </a>

      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Mensajería</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/home']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Profesionales Titulados</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/inicio']" routerLinkActive="router-link-active" ></i>Regresar a inicio</button>
          <div class="notify"> <span class=""></span></div>
      </a>



  
  
 
    
      
   
</div>
     <br>
     <br>
     <br>
    
      
    </section>


    <section>

        <h3 align="center">¿Ya eres miembro? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Inicia sesión</a></h3>

    </section>

 <app-footer></app-footer>
