.bgm{ 
 
    font-size: 100%;
  
    text-align:center;
 
  }

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    background-color: #1acec5;
    border-radius: 6px;
    border: 2px solid #00b049;
    width:380px;
    height:80px;
  }
 