
  <div class=" container p-3 " class="col-sm">
    <h1 align="center" id="color">POSTULACIÓN OFERTAS</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-responsive btn-table  table-bordered"  id="tableColor" >
                <thead>
                    <tr>
                        <th scope="col" COLSPAN=1 style="background: azure">Nº</th>
                        <th scope="col" COLSPAN=1 style="background: azure">NOMBRE</th>
                        <th scope="col" COLSPAN=1 style="background: azure">CORREO</th>
                        <th scope="col" COLSPAN=1 style="background: azure">TELÉFONO</th>
                        <th scope="col" COLSPAN=1 style="background: azure">CATEGORIA</th>
                        <th scope="col" COLSPAN=1 style="background: azure">VER HOJA DE VIDA</th>
                    </tr>
                </thead>
                <tbody *ngFor="let form of  formularios">
                    <tr *ngFor="let post of  form.postulacion | paginate: { itemsPerPage: 10, currentPage: totalRegistros }; let i = index" >
                     
                    
                    
                        <td>{{i+1}}</td>
                    
                        <td> {{post.user.usuario }}</td> 
                        <td> {{post.user.email }}</td> 
                     
                        <td> {{post.user.telefono }}</td> 
                        <td> {{post.user.categorias }}</td> 
                       <td align="center">
                      

                        <a type="button" class="btn btn-outline-primary"*ngIf="post.descripcion.urlPdf != null" href="{{post.descripcion.urlPdf}}"
                        style="width: 100px;height: 70;font-size: 50%;"   target="_blank"
                                                          ><b>VER HOJA DE VIDA</b></a>
                      
                       </td>
                     
                    
                    
                      
                    </tr>                  
                </tbody>
            </table>
            <pagination-controls (pageChange)="totalRegistros = $event"></pagination-controls>
        </div>
    </div>
</div>
