<div class="col-md-4" align="center">
    <div class="card">
        <div class="card-body">
          
            <div class="modal fade" id="ninera" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel2">SELECCIONE UNA OPCIÓN</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <li class=""[routerLink]="['/ninera']" routerLinkActive="router-link-active"data-dismiss="modal">
                            <a   aria-expanded="false"[routerLink]="['/ninera']" routerLinkActive="router-link-active"data-dismiss="modal"> 
                              <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"data-dismiss="modal"><i data-dismiss="modal" class="" [routerLink]="['/ninera']" routerLinkActive="router-link-active" ></i>ENCONTRAR EMPLEO</button>
                                <div class=""data-dismiss="modal"> <span class=""data-dismiss="modal"></span></div>
                            </a>
                         
                        </li>
                        <br>
                        
                        <li class=""[routerLink]="['/nineraEmpleador']" routerLinkActive="router-link-active"data-dismiss="modal">
                          <a   aria-expanded="false"[routerLink]="['/nineraEmpleador']" routerLinkActive="router-link-active"data-dismiss="modal"> 
                            <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"data-dismiss="modal"><i data-dismiss="modal" class="" [routerLink]="['/nineraEmpleador']" routerLinkActive="router-link-active" ></i>PUBLICAR EMPLEO</button>
                              <div class=""data-dismiss="modal"> <span class=""data-dismiss="modal"></span></div>
                          </a>
                       
                      </li>
                     
  
  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                          
                        </div>
                    </div>
                </div>
            </div>
     
        </div>
    </div>
  </div>
