.bgm{ 
 
    font-size: 100%;
  
    text-align:center;
 
  }

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    color: #fafafa;
    background-color: #c4c3c3;
    border-radius: 50px;
    border: 2px solid #56c2c6;
    width:380px;
    height:80px;
  }
 