.bgm{ 
 
    font-size: 100%;
  
    text-align:center;
 
  }

  .boton_personalizado{
  
   
 
    width:300px;
    height:80px;
  }
 

  .imagen {

    width:40;
    height:40;
  }

  .img-responsive {
    max-width: 8%;
    height: auto;
}
