<!-- Image and text -->
<app-header-pagina></app-header-pagina>
  <img src="../../../assets/images/Banner2.jpg" alt="">
  <br>
  <br>

  <section >
    <br>
  
    
    <h2 align="center">Nuestros cursos</h2>
<br>

<div  >
  <div   class="row m-0 justify-content-center align-items-center vh-100">
    <!-- Column -->
   
    <a class="nav-link  " [routerLink]="['/ninera']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado "><i  [routerLink]="['/ninera']" routerLinkActive="router-link-active" class="" aria-hidden="true" ></i>Electricidad</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" class="" aria-hidden="true"></i>Curso de niñeras</button>
          <div class="notify"> <span class=""></span></div>
      </a>
    <!-- Column -->
    <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Curso del adulto mayor</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Curso de cocina</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Curso de cuidados especiales</button>
          <div class="notify"> <span class=""></span></div>
      </a>

      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active"  class="" aria-hidden="true"></i>Cursos de Enseñanaza infantil</button>
          <div class="notify"> <span class=""></span></div>
      </a>
 
      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Tutorías escolares</button>
          <div class="notify"> <span class=""></span></div>
      </a>
 
      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>Trabajos del hogar</button>
          <div class="notify"> <span class=""></span></div>
      </a>

      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" class="" aria-hidden="true"></i>Asistencia automotriz</button>
          <div class="notify"> <span class=""></span></div>
      </a>

      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" class="" aria-hidden="true"></i>Mensajería</button>
          <div class="notify"> <span class=""></span></div>
      </a>
      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/home']" routerLinkActive="router-link-active" class="" aria-hidden="true"></i>Profesionales Titulados</button>
          <div class="notify"> <span class=""></span></div>
      </a>

      <a class="nav-link  " [routerLink]="['/inicio']" routerLinkActive="router-link-active"> 
        <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado"><i  [routerLink]="['/inicio']" routerLinkActive="router-link-active" ></i>Regresar a inicio</button>
          <div class="notify"> <span class=""></span></div>
      </a>

  
  
 
    
    </div>    
   
</div>
     <br>
     <br>
     <br>
    
      
    </section>

    <app-footer></app-footer>