<div class=" container p-3 " class="col-sm">
    <h1 align="center" id="color">PLANES DE SUCRIPCIÓN</h1>
</div>


<div class="container ">
    <div class="row ">
        <div class="col-12">
            <table class="table table-hover table-responsive btn-table  table-bordered" id="tableColor">
                <thead>
                    <tr *ngFor="let form of  formularios" >
                        <th scope="col" COLSPAN=1 style="background: azure">Nº</th>
                        <th scope="col" COLSPAN=1 style="background: azure">TÍPO DE PLAN</th>
                        <th scope="col" COLSPAN=1 style="background: azure" >FECHA SUCRIPCIÓN</th>
                        <th scope="col" COLSPAN=1 style="background: azure"  >FECHA VENCIMIENTO</th>
                        <th scope="col" COLSPAN=1 style="background: azure">VALOR</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let form of  formularios ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{form.tipoPlan}}</td>
                        <td >{{form.fecha1 |date:'dd-MM-yyyy'}}</td>
                        <td >{{form.fecha2 |date:'dd-MM-yyyy'}}</td>
                        <td>{{form.valor}}</td>


                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>






<!-- Row -->
<div class="row m-0 justify-content-center align-items-center vh-100">
    <!-- column -->
    <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card caja1">
            <img class="card-img-top img-responsive" src="../../../assets/images/jobcare.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text" align="center">Free</h4>
                <ul class="text">
                    <li>
                        Acceso libre
                    </li>
                    <li>
                        Fecha libre de vigencia
                    </li>
                    <li>
                        Publicar N veces
                    </li>
                    <li>
                        N anuncios
                    </li>
                    <li>
                        Acceso Master Class en todas las capacitaciones
                    </li>
                    <br>
                    <br>
                    <br>
                    <br>
                      <h1 class="text">$ 0.00 </h1>
                </ul>
          
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card caja2">
            <img class="card-img-top img-responsive" src="../../../assets/images/jobcare.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text">Premium (3 meses)
                </h4>
                <ul class="text">
                    <li>
                        Publicidad Off
                    </li>
                    <li>
                        Publicación Destacada
                    </li>
                    <li>
                        Descuento en todas las capacitaciones
                    </li>
                    <li>
                        Ofertas confidenciales
                    </li>
                    <li>
                        Aparición en las primeras posiciones de resultados
                    </li>

                    <h1 class="text">$ 5.99 </h1>


                </ul>




            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card caja3">
            <img class="card-img-top img-responsive" src="../../../assets/images/jobcare.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text">Premium (6 Meses)
                </h4>
                <ul class="text">
                    <li>
                        Publicidad Off
                    </li>
                    <li>
                        Publicación Destacada
                    </li>
                    <li>
                        Descuento en todas las capacitaciones
                    </li>
                    <li>
                        Ofertas confidenciales
                    </li>
                    <li>
                        Aparición en las primeras posiciones de resultados
                    </li>
                    <h1 class="text">$ 9.99 </h1>

                </ul>


            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- Row -->