

.caja1{
    background-color: #f7f7f7;
    border: 2px solid #56c2c6;
}

.caja2{
    background-color: #f7f7f7;
    border: 2px solid #56c2c6;
}
.caja3{
    background-color:#f7f7f7;
    border: 2px solid #56c2c6;
}


.text{
    color: #0e0d0d;
}