

     .caja1{
        background-color: #f7f7f7;
        border: 2px solid #56c2c6;
        border-radius: 20px 20px;
        width:235px;
        height:900px;
  
    }
    
    .caja2{
        background-color: #f7f7f7;
        border: 2px solid #56c2c6;
        border-radius: 20px 20px;
        width:235px;
        height:900px;
    }
    .caja3{
        background-color:#f7f7f7;
        border: 2px solid #56c2c6;
        border-radius: 20px 20px;
        width:235px;
        height:900px;
    }


.text{
    color: #0e0d0d;
}