<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo.jpeg" width="180" height="50" alt="" loading="lazy">
    </a>
  </nav>



<section >
    <br>
    <br>
   
    
    
    <h2 align="center">¿Qué servicio buscas?</h2>
<br>
<br>
<br>
      <div class="row ">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;
       
    
        <div class="col-lg-4">
            <div class="card bg-primary"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h2 class="text-white m-t-10 m-b-0" [routerLink]="['/categoria2']" routerLinkActive="router-link-active" > Cuidado de niños


                              </h2>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
      
    </div>

    <div class="row ">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;
       
    
        <div class="col-lg-4">
            <div class="card bg-primary"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h2 class="text-white m-t-10 m-b-0" [routerLink]="['/categoria2']" routerLinkActive="router-link-active" > Servicios del hogar



                         
                              </h2>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
      
    </div>
    <div class="row ">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;
       
    
        <div class="col-lg-4">
            <div class="card bg-primary"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h2 class="text-white m-t-10 m-b-0" [routerLink]="['/categoria2']" routerLinkActive="router-link-active" > Servicios del hogar



                         
                              </h2>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
      
    </div>

    <div class="row ">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;
       
    
        <div class="col-lg-4">
            <div class="card bg-primary"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h2 class="text-white m-t-10 m-b-0" [routerLink]="['/categoria2']" routerLinkActive="router-link-active" > Cuidado de mascotas





                         
                              </h2>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
      
    </div>
    
    <div class="row ">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;
       
        <div class="col-lg-4">
            <div class="card bg-primary"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h2 class="text-white m-t-10 m-b-0" [routerLink]="['/categoria2']" routerLinkActive="router-link-active" >Clases particulares







                         
                              </h2>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
      
    </div>

    <div class="row ">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;
       
    
        <div class="col-lg-4">
            <div class="card bg-primary"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h2 class="text-white m-t-10 m-b-0" [routerLink]="['/categoria2']" routerLinkActive="router-link-active" >Cuidado de ancianos









                         
                              </h2>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
      
    </div>
    <div class="row ">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp;
       
        <div class="col-lg-4">
            <div class="card bg-primary"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" >
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"[routerLink]="['/categoria2']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center">
                            <h2 class="text-white m-t-10 m-b-0" [routerLink]="['/categoria2']" routerLinkActive="router-link-active" >Cuidados especiales






                         
                              </h2>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
      
    </div>
    
     <br>
     <br>
     <br>
    
      
    </section>


    <section>

        <h3 align="center">¿Ya eres miembro? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Inicia sesión</a></h3>

    </section>