<app-header-pagina></app-header-pagina>

<img src="../../../assets/images/categoria/Mensajeria.jpeg" alt=""width="1520">
<br>
<br>

<div class="container ">

  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-4">
        <button class="step-trigger">
          <span class="bs-stepper-circle">4</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-5">
        <button class="step-trigger">
          <span class="bs-stepper-circle">5</span>
          <span class="bs-stepper-label"></span>
        </button>
      </div>
     
     
     
    </div>


    <!--AQUI EMPEZA EL FORMULARIO-->

    <div class="bs-stepper-content">
      <form  [formGroup]="registerForm">
        <div id="test-l-1" class="content">
          <div class="form-group">
            <label for="exampleInputEmail1">CIUDAD/TODOS</label>
            <tr>
              <td scope="col">Provincia &nbsp;</td>
              <td scope="col">
                <select name="Provincia" class="browser-default custom-select form-control" formControlName="provincia"
                  (change)="selectProvincia($event.target.value)">
                  <option *ngFor="let prov of ciuadadesOpcion" value="{{prov.provincia}}">
                    {{prov.provincia}}</option>
                </select>
    
              </td>
    
            </tr>
            <br>
            <tr>
              <td scope="col">Ciudad &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
              <td scope="col">
                <select name="Ciudad" class="browser-default custom-select form-control" formControlName="ciudad">
                  <option *ngFor="let canton of ciudad.cantones" value="{{canton}}">
                    {{canton}}
                  </option>
                </select>
    
    
              </td>
    
            </tr>
            <br>
            <br>
            <div class="container">
    
    
    
              <div class="form-group">
                <label>Mi Dirección</label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                  formControlName="direccion" placeholder="Buscar mi ubicación" autocorrect="off" autocapitalize="off"
                  spellcheck="off" type="text" #search>
              </div>
    
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
              <br>
              <h5>Dirección: {{address}}</h5>
              <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div>
            </div>
          </div>
    
    
    
    
          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>
        <div id="test-l-2" class="content">
          <div class="form-group">
            <h2 align="center">Mensajería</h2>
            <div class="form-group row m-0 justify-content-center align-items-center vh-100">
    
              <div class="input-group ">
                <ul class="icheck-list" class="list">
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-1"formControlName="paqueteria">
                    <label for="minimal-checkbox-1">Paquetería</label>
                  </li>
                
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-2"formControlName="tramites">
                    <label for="minimal-checkbox-2">Tramites</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-3"formControlName="movilizacion">
                    <label for="minimal-checkbox-3">Movilización</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-4"formControlName="otros">
                    <label for="minimal-checkbox-4">Otros</label>
                  </li>
            
    
                </ul>
    
              </div>
            </div>
          </div>
          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>
      
        <div id="test-l-3" class="content">
          <div class="form-group">
            <h2 align="center">¿En donde deseas?</h2>
            <div class="form-group row m-0 justify-content-center align-items-center vh-100">
    
              <div class="input-group ">
                <ul class="icheck-list" class="list">
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-5"formControlName="dentroCiudad">
                    <label for="minimal-checkbox-5">Dentro de la Ciudad</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-6"formControlName="otrasCiudades">
                    <label for="minimal-checkbox-6">Otras Ciudades</label>
                  </li>
                  <li>
                    <input type="checkbox" class="check form-control" id="minimal-checkbox-7"formControlName="fueraPais">
                    <label for="minimal-checkbox-7">Fuera del País</label>
                  </li>
                 
              
               
    
                </ul>
    
              </div>
            </div>
          </div>
          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>
    
        <div id="test-l-4" class="content">
          <div class="form-group">
            <h2 align="center" (click)="desactivar()">CUANDO LO NECESITAS</h2>
            <div>
              <div class="row m-0 justify-content-center align-items-center vh-100">
                <!-- Column -->
    
                <div>
                  <button type="button" class="btn btn-rounded btn-outline-primary boton_personalizado "
                    (click)="activar()"><i></i>Fecha y Hora de Envío</button>
                  <div class="notify"> <span class=""></span></div>
    
                  <div *ngIf="mostarDatos">
                    <br>
                    <input type="datetime-local" id="meeting-time" name="meeting-time" class="form-control"
                      formControlName="fecha">
                  </div>
    
                </div>
             
           
              
    
    
    
    
              </div>
    
            </div>
          </div>
          <button (click)="next()" class="btn btn-primary">SIGUIENTE</button>
        </div>
    
    
        <div id="test-l-5" class="content text-center">

          <h2 align="center">SUSCRIPCIÓN</h2>
          <div class="form-group">
            
            <input type="text" class="form-control col-6"  placeholder="USUARIO"formControlName="usuario" />
          </div>
          <div class="form-group">
            
            <input type="text" class="form-control col-6"  placeholder="TELEFONO"formControlName="telefono" />
          </div>
          <div class="form-group">
           
            <input type="email" class="form-control col-6" id="exampleInputEmail1"  placeholder="EMAIL"formControlName="email" />
          </div>
          
          <div class="form-group">
           
            <input type="password" class="form-control col-6" id="exampleInputPassword1" placeholder="PASSWORD" formControlName="password" />
          </div>
          <div class="form-group">

            <input type="number" class="form-control col-6" id="exampleInputPassword1"
              placeholder="CLAVE DE VERIFICACIÓN ENVIADA AL CORREO" formControlName="clave" />
          </div>
          <button class="btn btn-primary mt-5" (click)="RevisandoEmail()">ENVIAR CLAVE A EMAIL</button>
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-primary mt-5" (click)="verificando()">REGISTRAR</button>
        </div>
      </form>
    </div>
    </div>

    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#56c2c6"
    type="ball-clip-rotate-multiple"
  >
    <p style="font-size: 20px; color: #56c2c6">Jobandcare...</p>
  </ngx-spinner>
    </div>

    <app-footer></app-footer>