        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../../../assets/images/j-logoreco.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../../../assets/images/j-logoreco.png" alt="homepage" class="light-logo " />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="../../../assets/images/text-logo.png" alt="homepage" class="dark-logo bgm animated infinite pulse" />
                         <!-- Light Logo text -->    
                         <img src="../../../assets/images/text-logo.png" class="light-logo bgm animated infinite pulse" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down"></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
            
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown"[routerLink]="['/home']" routerLinkActive="router-link-active">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[routerLink]="['/home']" routerLinkActive="router-link-active"> 
                              <button type="button" class="btn btn-rounded btn-outline-primary"><i class="fa fa-check" [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>ENCONTRAR EMPLEO</button>
                                <div class="notify"> <span class="heartbit"></span></div>
                            </a>
                         
                        </li>

                        <li class="nav-item dropdown"[routerLink]="['/home2']" routerLinkActive="router-link-active">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[routerLink]="['/home2']" routerLinkActive="router-link-active"> 
                              <button type="button" class="btn btn-rounded btn-outline-primary"><i class="fa fa-check" [routerLink]="['/home2']" routerLinkActive="router-link-active" ></i>PUBLICAR EMPLEO</button>
                                <div class="notify"> <span class="heartbit"></span></div>
                            </a>
                         
                        </li>

                        <li class="nav-item dropdown"[routerLink]="['/home']" routerLinkActive="router-link-active">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[routerLink]="['/home']" routerLinkActive="router-link-active"> 
                              <button type="button" class="btn btn-rounded btn-outline-primary"><i class="fa fa-check" [routerLink]="['/home']" routerLinkActive="router-link-active" ></i>CAPACÍTATE</button>
                                <div class="notify"> <span class="heartbit"></span></div>
                            </a>
                         
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown"[routerLink]="['/home']" routerLinkActive="router-link-active" >
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[routerLink]="['/home']" routerLinkActive="router-link-active" >
                              
                              <button type="button" class="btn btn-rounded btn-outline-primary"><i class="icons mdi mdi-account-box-outline" id="icons"[routerLink]="['/home']" routerLinkActive="router-link-active" ></i>REGÍSTRATE </button>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                         
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                       
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Language -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown"[routerLink]="['/login']" routerLinkActive="router-link-active" >
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[routerLink]="['/login']" routerLinkActive="router-link-active" > 
                              
                              <button type="button" class="btn btn-rounded btn-outline-primary"><i class="icons mdi mdi-account" id="icons " [routerLink]="['/login']" routerLinkActive="router-link-active" ></i>Iniciar Sesión</button>
                            </a>
                      
                        </li>
                  
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
