<app-header-pagina></app-header-pagina>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

  
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
 
      <img class="d-block img-fluid" src="../../../assets/images/children.jpg" alt="First slide">
     
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../../assets/images/children.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="../../../assets/images/children.jpg" alt="Third slide">
    </div>
  </div>
</div>
<section   >
  <div  class="scrollmenu">
    <a href="#home">Niñeras</a>
    <a href="#news">Cuidado del adulto mayor</a>
    <a href="#work">Servicio Doméstico</a>
    <a href="#contact">Cuidado de mascotas</a>
    <a href="#about">Cuidados capacidades especiales</a>
    <a href="#support">Tutorías escolares</a>
    <a href="#blog">Trabajos del hogar</a>
    <a href="#tools">Asistencia automotriz</a>  
    <a href="#base">Mensajería</a>
    <a href="#custom">Spa</a>
    <a href="#more">Profesionales Titulados </a>
  
  </div>

</section>
<!--===========================================================================================================-->

<!--========================================================================================================-->
<section >
<br>
<br>


  <div class="row ">
   
   

    <div class="col-lg-4 hover">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center" [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h2 class="text-white m-t-10 m-b-0"[routerLink]="['/home']" routerLinkActive="router-link-active" > <b>Buscar Empleo</b> 
                          </h2>
                       </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-primary">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center" [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                  <div class="align-self-center">
                      <h2 class="text-white m-t-10 m-b-0"[routerLink]="['/home']" routerLinkActive="router-link-active" > <b>Publicar Empleo</b> 
                        </h2>
                     </div>
              </div>
          </div>
      </div>
  </div>
    
  <div class="col-lg-4">
    <div class="card bg-primary">
        <div class="card-body">
            <div class="d-flex no-block">
                <div class="m-r-20 align-self-center" [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                <div class="align-self-center">
                    <h2 class="text-white m-t-10 m-b-0"[routerLink]="['/home']" routerLinkActive="router-link-active" > <b>Capacítate</b> 
                      </h2>
                 </div>
            </div>
        </div>
    </div>
</div>
</div>
 <br>
 <br>
 <br>

  
</section>





<section>

  <h2 align="center">Quiénes somos</h2>
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            
                <div class="row">
                    <div class="col-lg-4 col-md-3"><img src="../assets/images/big/img1.jpg" class="img-fluid" /></div>
                    <div class="col-lg-8 col-md-9" id="slimtest1" style="height: 250px;">
                        <div>
                            <p>Somos una empresa familiar, que fue creada con la convicción de que la tecnología e innovación enfocadas al servicio a los demás son la clave para que todos podamos crecer juntos.</p>
                            <p>En Job and Care, queremos ser un canal seguro, ágil y eficiente, entre empleados y empleadores, incentivando tu crecimiento y empoderamiento, participando en todas las etapas de tu vida, cuidando de tu familia, ayudándote a encontrar empleo u ofertarlo y siendo un soporte en tu formación. </p>
                            <p>Job and Care ayuda también a las empresas a encontrar el talento adecuado, lo que facilita la atracción, contratación y retención del personal, impulsando la productividad y el crecimiento económico tanto de empresas como de los postulantes.</p>
                            <p>En nuestra plataforma hay oportunidades de empleo y formación para todos, UNETE </p>
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
   
     
    </div>
</div>
</section>

    <app-footer></app-footer>